<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="dicoding:email" content="rayataufik4@gmail.com">
  <title>Wanderlust</title>
  <link rel="manifest" href="./manifest.json" />
  <link rel="icon" href="./images/logo.png" />
</head>

<body class="d-flex flex-column min-vh-100">
  <header>
    <app-bar></app-bar>
  </header>
  <main class="flex-grow-1">
    <article>
      <div id="main"></div>
    </article>
  </main>
  <footer>
    <div class="w-bg text-white text-center p-2">
      <p>© 2024 Wanderlust. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>